# Node
node_modules/
dist/
build/
coverage/

# Environment
.env*
!.env.example

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
Backend/backend.Infrastructure/bin/Debug/net9.0/backend.Core.dll
Backend/backend.Infrastructure/bin/Debug/net9.0/backend.Core.dll
Backend/backend.Infrastructure/bin/Debug/net9.0/backend.Core.pdb
Backend/backend.Infrastructure/bin/Debug/net9.0/backend.Infrastructure.dll
Backend/backend.Infrastructure/bin/Debug/net9.0/backend.Infrastructure.pdb
/Backend/.vs/backend/DesignTimeBuild/.dtbcache.v2
/Backend/.vs/backend/v17/.futdcache.v2
/Backend/.vs/backend/v17/DocumentLayout.backup.json
/Backend/.vs/backend/v17/DocumentLayout.json
/Backend/.vs/ProjectEvaluation/backend.metadata.v9.bin
/Backend/.vs/backend/v17/.suo
/Backend/.vs/ProjectEvaluation/backend.projects.v9.bin
/Backend/.vs/ProjectEvaluation/backend.strings.v9.bin
/Backend/backend.API/obj/Debug/net9.0/backend.API.AssemblyInfo.cs
/Backend/backend.API/obj/Debug/net9.0/backend.API.AssemblyInfoInputs.cache
/Backend/backend.API/obj/Debug/net9.0/backend.API.csproj.AssemblyReference.cache
/Backend/backend.Application/obj/Debug/net9.0/backend.Application.AssemblyInfo.cs
/Backend/backend.Application/obj/Debug/net9.0/backend.Application.AssemblyInfoInputs.cache
/Backend/backend.Application/obj/Debug/net9.0/backend.Application.csproj.AssemblyReference.cache
/Backend/backend.Core/obj/Debug/net9.0/backend.Core.AssemblyInfo.cs
/Backend/backend.Core/obj/Debug/net9.0/backend.Core.AssemblyInfoInputs.cache
/Backend/backend.Infrastructure/obj/Debug/net9.0/backend.Infrastructure.AssemblyInfo.cs
/Backend/backend.Infrastructure/obj/Debug/net9.0/backend.Infrastructure.AssemblyInfoInputs.cache
/Backend/backend.Infrastructure/obj/Debug/net9.0/backend.Infrastructure.csproj.AssemblyReference.cache
